h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(95, 110, 160);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    left: 50%;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    margin: 0px;
    background-color:#000000;

    
}
a{
    text-decoration :none
}
a:link{
    color:#ffffff;
}

/*a:old*/
a:clicked{
/*a:seen{*/
/*a:visited{*/
    color: #ffffff;
}

.bodyimg{
    position: absolute;
    left: 50%;
}
.bodyimg p{
    color:#f7f2f2;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bodyimg h3{
    color:#f7f2f2;
    font-family: fantasy;
    font-size: 30px;
    width: 160px;
    position: absolute;
    top:40%;
    left:80%;
    transform: translate(-40%, -40%);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    align-items: center;
    left: 50%;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 200px;
    font-family: fantasy;
    left: 50%;
   
    
}

 .origami:hover{ 
/*origami : mouseover{*/
/*.origami:link{*/
/*origami:hover{*/

    transform: scale(1.2);
}